html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: rgb(57, 57, 57);
    letter-spacing: 0.3px;
}

body {
    background-color: lightgrey;
    min-height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 60%;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0px 7px 20px -10px grey;
    display: flex;
    flex-direction: column;
}

main section {
    height: 24%;
    width: 100%;
    padding: 1em 1.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    border-bottom: 1.5px solid lightgray;
}

main section:last-child {
    border-bottom: none;
}

#search-bar-label {
    display: none;
}

.search-bar {
    justify-content: flex-end;
    height: 28%;
}

#search-bar {
    height: 45%;
    width: 80%;
    border: 2px solid lightgray;
    border-radius: 7px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
    padding-left: 1.5em;
    font-size: 1em;
    font-weight: 500;
    color: lightslategray;
    padding: 0.75em 1.6em;
}

.bought-item {
    text-decoration: line-through 1.5px;
}

button {
    cursor: pointer;
}

.search-bar button {
    height: 54%;
    border: none;
    font-size: 1em;
    font-weight: bold;
    color: white;
    background-color: rgb(61, 107, 192);
    border-bottom: 4px solid rgb(74, 80, 166);
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: 0.75em 1.6em;
}

.cart-item article {
    width: 33.3333%;
    display: flex;
    justify-content: center;
}

.cart-item article:last-of-type {
    justify-content: flex-end;
}

.cart-item article:first-of-type {
    justify-content: flex-start;
    width: 20%;
}

.amount-of-items {
    max-height: 20px;
    max-width: 20px;
    background-color: rgb(232, 232, 232);
    padding: 0.3em 0.6em;
    border-radius: 5px;
    color: slategray;
    font-weight: bold;
}

.bought-button,
.not-bought-button {
    padding: 0.75em 1.6em;
    border: 1.5px solid rgb(197, 197, 197);
    border-bottom: 5px solid rgb(197, 197, 197);
    border-radius: 7px;
    font-weight: bold;
    white-space: nowrap;
    box-sizing: border-box;
    color: rgb(105, 105, 105);
}

.items-info:first-of-type .items-state:first-of-type {
    border-top: none;
}

.product-item {
    margin-top: 0.3em;
}

.increase-amount,
.decrease-amount {
    margin: 0px 5px;
    padding: 0.6em 0.9em;
    background-color: rgb(120, 186, 54);
    border: none;
    border-radius: 25px;
    border-bottom: 4px solid rgb(99, 152, 45);
    font-weight: bold;
    color: white;
}

.decrease-amount {
    padding: 0.6em 1.05em;
    background-color: rgb(207, 43, 43);
    border-bottom: 4px solid rgb(164, 35, 35);
}

.decrease-amount:disabled {
    background-color: rgb(218, 128, 128);
    border-bottom: 4px solid rgb(173, 99, 99);
}

.cancel {
    padding: 0.6em 0.9em;
    background-color: crimson;
    border: none;
    border-radius: 7px;
    border-bottom: 5px solid rgb(172, 17, 48);
    color: white;
}

aside {
    width: 30%;
    /* height: 19em; */
    min-height: 19em;
    background-color: white;
    border-radius: 7px;
    margin-left: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 7px 20px -10px grey;
}

.items-info {
    width: 100%;
    height: 50%;
}

.items-info article {
    width: 100%;
    min-height: 3.6em;
    border-top: 1.5px solid lightgray;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.items-state {
    padding-left: 1em;
    font-size: 1.4em;
    font-weight: bold;
    color: rgb(57, 57, 57);
    min-height: 3em;
}

.product-item {
    font-size: 1rem;
    font-weight: bold;
    margin-right: 5px;
    background-color: rgb(218, 218, 218);
    display: inline-block;
    height: 25px;
    padding: 5px;
    border-radius: 5px;
}

.not-bought-items,
.bought-items {
    padding-bottom: 0.3em;
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.amount {
    color: white;
}

.bought-items span {
    text-decoration: line-through 1.5px;
}

.bought-items .amount {
    text-decoration: line-through 1.5px white;
}

.product-item .amount {
    font-size: 1rem;
    background-color: orange;
    border-radius: 25px;
    display: inline-block;
    padding: 0.2rem 0.5rem;
    text-align: center;
}

footer {
    position: fixed;
    top: 90.5%;
    right: 83%;
    background-color: rgb(118, 48, 134);
    border-radius: 15px 15px 0px 0px;
    padding: 1.6em 1.5em;
    color: white;
    text-align: center;
    line-height: 2.6;
    font-weight: bold;
    font-size: 0.85em;
    transition: transform 0.5s ease-in-out,
        background-color 0.5s ease-in-out, line-height 0.5s ease-in-out;
}

footer:hover {
    transform: translateY(-3.2em);
    line-height: 1.6;
    background-color: rgb(61, 107, 192);
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
        justify-content: space-evenly;
    }

    main,
    aside {
        width: 98.5%;
        margin-bottom: 1em;
    }

    footer {
        right: 60%;
    }

    main .search-bar,
    main .cart-item {
        font-size: 0.87em;
    }

    .cart-item article:first-of-type {
        width: 12%;
    }

    aside {
        margin-left: 0px;
    }
}

button {
    position: relative;
}

button::before {
    content: attr(data-tooltip);
    background-color: rgb(118, 48, 134);
    color: white;
    font-weight: bold;
    font-size: 0.80rem;
    padding: 0.10em 0.20em;
    border-radius: 7px;
    position: absolute;
    transform: translateX(-50%);
    transition: all 0.5s ease-in-out;
    bottom: 50%;
    left: 50%;
    opacity: 0;
}

button:hover::before {
    opacity: 0.95;
    padding: 0.65em 0.7em;
    bottom: 110%;
    font-size: 0.9rem;
}

@media print {
    footer {
        background-color: white;
        border: 3px solid rgb(118, 48, 134);
        color: black;
        line-height: 0.9em;
        height: 7em;
    }

    .buy-list {
        display: none;
    }
}